@{
    ViewData["Title"] = "Upload Excel";
}

<h2>Upload Excel</h2>


<form method="post" enctype="multipart/form-data">
    <input type="file" name="file" />
    <button type="submit">Upload</button>
</form>
